Repository ovh-ux/ovh-manager-cloud, pull requests merged in 2018-02, with the labels that each got.

#492 hotfix(pci): fix Stop Rescue Mode call
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
Labels: bug

#487 added alias home page
  client/app/common/OvhPoll.service.js
  client/app/dbaas/logs/detail/aliases/add/logs-aliases-add.controller.js
  client/app/dbaas/logs/detail/aliases/add/logs-aliases-add.html
  client/app/dbaas/logs/detail/aliases/add/logs-aliases-add.modal.controller.js
  client/app/dbaas/logs/detail/aliases/logs-alias.constants.js
  client/app/dbaas/logs/detail/aliases/logs-aliases.controller.js
  client/app/dbaas/logs/detail/aliases/logs-aliases.html
  client/app/dbaas/logs/detail/aliases/logs-aliases.js
  client/app/dbaas/logs/detail/aliases/logs-aliases.service.js
  client/app/dbaas/logs/detail/aliases/translations/Messages_en_GB.xml
  client/app/dbaas/logs/detail/index/add/logs-index-add.controller.js
  client/app/dbaas/logs/detail/index/add/logs-index-add.html
  client/app/dbaas/logs/detail/index/logs-index.controller.js
  client/app/dbaas/logs/detail/index/logs-index.js
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/options/logs-options.service.js
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/home/logs-streams-home.html
  client/app/dbaas/logs/detail/streams/logs-streams.less
  client/app/dbaas/logs/detail/streams/logs-streams.service.js
  client/app/dbaas/logs/translations/Messages_en_GB.xml
Labels: Translation required, feature

#491 Bugfix/logs offer
  client/app/dbaas/logs/detail/index/add/logs-index-add.controller.js
  client/app/dbaas/logs/detail/index/logs-index.html
  client/app/dbaas/logs/detail/index/translations/Messages_en_GB.xml
  client/app/dbaas/logs/detail/offer/logs-offer.controller.js
  client/app/dbaas/logs/detail/offer/logs-offer.html
  client/app/dbaas/logs/detail/offer/translations/Messages_en_GB.xml
  client/app/dbaas/logs/detail/translations/Messages_en_GB.xml
Labels: Translation required

#473 feat(navbar): update current navbar to oui-navbar
  bower.json
  client/app/app.js
  client/app/app.tpl.less
  client/app/cloud/project/compute/infrastructure/openstackClient/cloud-project-compute-infrastructure-openstack-client.html
  client/app/cloud/project/compute/infrastructure/openstackClient/cloud-project-compute-infrastructure-openstack-client.less
  client/app/common/cloud-main-controller.controller.js
  client/app/common/common.less
  client/app/common/less/navbar.less
  client/app/common/translations/Messages_fr_FR.xml
  client/app/config/CA/common.constants.js
  client/app/config/EU/common.constants.js
  client/app/config/US/common.constants.js
  client/app/ui-components/loader/loader.component.js
  client/assets/images/navbar/icon-assistance.svg
  client/assets/images/navbar/icon-assistance_on.svg
  client/assets/images/navbar/icon-external-link.svg
  client/assets/images/navbar/icon-languages.svg
  client/assets/images/navbar/icon-languages_on.svg
  client/assets/images/navbar/icon-logo-ovh.svg
  client/assets/images/navbar/icon-notifications.svg
  client/assets/images/navbar/icon-notifications_on.svg
  client/assets/images/navbar/icon-user.svg
  client/assets/images/navbar/icon-user_on.svg
  client/components/navbar/navbar.config.js
  client/components/navbar/navbar.service.js
  client/components/session/session.service.js
  client/components/sidebar/sidebar.config.js
  client/components/sidebar/sidebar.less
  client/components/sidebar/translations/Messages_fr_FR.xml
  client/index.tpl.html
  package-lock.json
Labels: QC_OK, Translation required, feature

#481 Feat(pci): Improve price displaying and list view
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.html
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.xml
  client/components/cloud/project/compute/infrastructure/vrack/virtualMachine/virtualMachine.factory.js
Labels: QC_OK, Translation required, bug

#523 Fix(order): fix order service (tests failed)
  client/app/helper/order-helper.service.js
Labels: bug

#521 Bugfix/logs index
  client/app/dbaas/logs/detail/index/add/logs-index-add.controller.js
  client/app/dbaas/logs/detail/index/add/logs-index-add.html
  client/app/dbaas/logs/detail/index/logs-index.constants.js
  client/app/dbaas/logs/detail/index/logs-index.controller.js
  client/app/dbaas/logs/detail/index/logs-index.html
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/index/translations/Messages_en_GB.xml
  client/app/dbaas/logs/detail/offer/logs-offer.constants.js
  client/app/dbaas/logs/detail/offer/logs-offer.controller.js
  client/app/dbaas/logs/detail/offer/logs-offer.html
  client/app/dbaas/logs/detail/offer/logs-offer.service.js
  client/app/dbaas/logs/detail/offer/translations/Messages_en_GB.xml
Labels: Translation required

#402 Feature/v rack activation
  .gitignore
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.html
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetworks.less
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
  client/app/ui-components/modal/confirmation-modal/confirmation-modal.controller.js
  client/app/vrack/modals/selectVrack.controller.js
  client/app/vrack/modals/selectVrack.html
  client/app/vrack/modals/translations/Messages_fr_FR.xml
  client/app/vrack/vrack.js
  client/app/vrack/vrack.service.js
  client/components/sidebar/vrackSection/vrack-section-sidebar.service.js
Labels: Translation required, feature

#525 Feature/logs roles home
  client/app/dbaas/logs/detail/offer/logs-offer.constants.js
  client/app/dbaas/logs/detail/options/logs-options.service.js
  client/app/dbaas/logs/detail/roles/add/logs-role-add.controller.js
  client/app/dbaas/logs/detail/roles/add/logs-role-add.html
  client/app/dbaas/logs/detail/roles/logs-roles.constants.js
  client/app/dbaas/logs/detail/roles/logs-roles.controller.js
  client/app/dbaas/logs/detail/roles/logs-roles.html
  client/app/dbaas/logs/detail/roles/logs-roles.js
  client/app/dbaas/logs/detail/roles/logs-roles.service.js
  client/app/dbaas/logs/detail/roles/overview/logs-role-overview.controller.js
  client/app/dbaas/logs/detail/roles/overview/logs-role-overview.html
  client/app/dbaas/logs/detail/roles/translations/Messages_en_GB.xml
  client/app/dbaas/logs/translations/Messages_en_GB.xml
Labels: Translation required, feature

#533 Feature/logs manage members
  client/app/dbaas/logs/detail/index/add/logs-index-add.controller.js
  client/app/dbaas/logs/detail/index/add/logs-index-add.html
  client/app/dbaas/logs/detail/index/logs-index.controller.js
  client/app/dbaas/logs/detail/index/logs-index.html
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/roles/add/logs-role-add.controller.js
  client/app/dbaas/logs/detail/roles/add/logs-role-add.html
  client/app/dbaas/logs/detail/roles/logs-roles.controller.js
  client/app/dbaas/logs/detail/roles/logs-roles.html
  client/app/dbaas/logs/detail/roles/logs-roles.js
  client/app/dbaas/logs/detail/roles/logs-roles.service.js
  client/app/dbaas/logs/detail/roles/members/add/add-members.controller.js
  client/app/dbaas/logs/detail/roles/members/add/add-members.html
  client/app/dbaas/logs/detail/roles/members/logs-roles-members.controller.js
  client/app/dbaas/logs/detail/roles/members/logs-roles-members.html
  client/app/dbaas/logs/detail/roles/members/translations/Messages_en_GB.xml
  client/app/dbaas/logs/detail/roles/overview/logs-role-overview.html
  client/app/dbaas/logs/detail/roles/translations/Messages_en_GB.xml
  client/app/ui-components/preview-list/preview-list.less
Labels: Translation required, feature

#535 Bugfix/logs roles index
  client/app/dbaas/logs/detail/index/add/logs-index-add.controller.js
  client/app/dbaas/logs/detail/index/logs-index.controller.js
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/index/translations/Messages_en_GB.xml
  client/app/dbaas/logs/detail/roles/add/logs-role-add.controller.js
  client/app/dbaas/logs/detail/roles/add/logs-role-add.html
  client/app/dbaas/logs/detail/roles/logs-roles.controller.js
  client/app/dbaas/logs/detail/roles/logs-roles.html
  client/app/dbaas/logs/detail/roles/logs-roles.service.js
  client/app/dbaas/logs/detail/roles/members/translations/Messages_en_GB.xml
  client/app/dbaas/logs/detail/roles/translations/Messages_en_GB.xml
Labels: Translation required
