Repository ovh-ux/ovh-manager-cloud, pull requests merged in 2019-02, with the labels that each got.

#1268 feat(kube-reset): worker nodes policy control addition
  client/app/common/translations/Messages_fr_FR.json
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Labels: enhancement, quality check ok, translation required

#1237 fix(navbar): revamp style and texts
  client/app/app.less
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar-builder.service.js
  client/components/navbar/navbar-menu-header/index.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.html
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.html
  client/components/navbar/navbar-notification.service.js
  client/components/navbar/navbar.less
  client/components/navbar/navbar.service.js
Labels: bug, quality check ok, translation required

#1274 fix(cloud.project.onboarding): set right asset path
  client/app/cloud/project/onboarding/onboarding-pci.html
Labels: bug

#1281 feat(translations): text messages for APAC trafic limit
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
Labels: feature, quality check ok, translation required

#1286 fix(i18n): restore i18n fallback
  package.json
  yarn.lock
Labels: bug, quality check ok

#1295 build(deps): remove unused ovh-angular-doc-url dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Labels: enhancement

#1298 fix(deps): remove ovh-angular-a-disabled from dependency
  client/app/app.js
  client/app/cloud/project/add/cloud-project-add.html
  client/app/index.js
  package.json
  yarn.lock
Labels: bug

#1297 refactor(cui-tabs): move cui-tabs to cuc
  client/app/app.js
  client/app/app.less
  client/app/common/cloud-navigation.service.js
  client/app/index.js
  client/app/ui-components/tabs/tabs.component.js
  client/app/ui-components/tabs/tabs.less
  client/app/ui-components/tabs/tabs.service.js
  package.json
  yarn.lock
Labels: one-manager, quality check ok

#1299 refactor(components): move products service to cuc
  client/app/common/cloud-main-controller.controller.js
  client/app/vps/vps-header.controller.js
  client/components/manager-preload/manager-preload.config.js
  client/components/navbar/navbar.service.js
  client/components/products/products.service.js
  client/components/sidebar/sidebar.js
  package.json
  yarn.lock
Labels: one-manager, quality check ok

#1300 refactor(deps): replace ovh-angular-doc-url dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Labels: :heart: one-manager, quality check ok

#1301 refactor(deps): replace ovh-angular-stop-event dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Labels: :heart: one-manager, quality check

#1291 feat(public-cloud): bandwidth usage
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.controller.js
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.js
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
  client/components/cloud/region/region.service.js
Labels: feature, quality check ok, translation required

#1290 feat(kube-nodes): name field addition
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/add/kubernetes-nodes-add.controller.js
  client/app/kubernetes/nodes/add/kubernetes-nodes-add.html
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Labels: enhancement, quality check ok, translation required

#1270 feat(info): show new DC available info message
  client/app/home/home.controller.js
  client/app/home/home.html
  client/app/home/translations/Messages_fr_FR.json
Labels: feature, quality check ok, translation required

#1319 feat(home): add traffic apac guide
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_CA.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_en_US.json
  client/app/common/translations/Messages_fr_FR.json
  client/components/docs/docs.constants.js
Labels: feature, quality check ok

#1323 fix: replace region add success message
  client/app/cloud/project/compute/regions/translations/Messages_de_DE.json
  client/app/cloud/project/compute/regions/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_AU.json
  client/app/cloud/project/compute/regions/translations/Messages_en_CA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_GB.json
  client/app/cloud/project/compute/regions/translations/Messages_en_SG.json
  client/app/cloud/project/compute/regions/translations/Messages_en_US.json
  client/app/cloud/project/compute/regions/translations/Messages_fi_FI.json
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
  client/app/cloud/project/compute/regions/translations/Messages_it_IT.json
  client/app/cloud/project/compute/regions/translations/Messages_lt_LT.json
  client/app/cloud/project/compute/regions/translations/Messages_nl_NL.json
  client/app/cloud/project/compute/regions/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/regions/translations/Messages_pt_PT.json
Labels: enhancement, translation required

#1277 Feature/nvidia gpu os
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/compute/infrastructure/image.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/assets/images/cloud/apps/nvidia_ngc.png
Labels: feature, quality check ok

#1306 refactor(cui): move page and message to cuc
  client/app/app.less
  client/app/ui-components/dropdown-menu/dropdown-menu.component.js
  client/app/ui-components/dropdown-menu/dropdown-menu.html
  client/app/ui-components/dropdown-menu/dropdown-menu.less
  client/app/ui-components/guide-component/guide-component.component.js
  client/app/ui-components/guide-component/guide-component.html
  client/app/ui-components/guide-component/guide-component.less
  client/app/ui-components/icons/button-guide.html
  client/app/ui-components/message/message-container.component.js
  client/app/ui-components/message/message-container.html
  client/app/ui-components/page/_variables.less
  client/app/ui-components/page/page-content.component.js
  client/app/ui-components/page/page-header.component.js
  client/app/ui-components/page/page.less
  package.json
  yarn.lock
Labels: one-manager, quality check ok

#1309 feat(kubernetes): kubernetes upgrade policy
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.html
  client/app/kubernetes/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Labels: feature, quality check ok, translation required

#1329 fix(deps): upgrade ng-ovh-apiv7 to v2.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Labels: enhancement, one-manager, quality check ok

#1332 refactor: move directives to cuc
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit-agora.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit.html
  client/app/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/vnc/cloud-project-compute-infrastructure-virtual-machine-vnc.html
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.html
  client/app/cloud/project/compute/snapshot/add/cloud-project-compute-snapshot-add.html
  client/app/cloud/project/compute/ssh/cloud-project-compute-ssh.html
  client/app/cloud/project/compute/volume/snapshot/cloud-project-compute-volume-snapshot-add.html
  client/app/cloud/project/openstack/users/add/openstack-users-add.html
  client/app/cloud/project/openstack/users/token/openstack-users-token.html
  client/app/cloud/project/rename/cloud-project-rename.html
  client/app/dbaas/dbaas-metrics/token/edit/metrics-token-edit.html
  client/app/dbaas/logs/detail/account/password/logs-account-password.html
  client/app/dbaas/logs/detail/account/setup/logs-account-setup.html
  client/app/dbaas/logs/detail/aliases/add/logs-aliases-add.html
  client/app/dbaas/logs/detail/dashboards/crud/logs-dashboards-crud.html
  client/app/dbaas/logs/detail/home/account/logs-home-account.html
  client/app/dbaas/logs/detail/index/add/logs-index-add.html
  client/app/dbaas/logs/detail/inputs/add/edit/logs-inputs-add-edit.html
  client/app/dbaas/logs/detail/inputs/add/networks/logs-inputs-add-networks.html
  client/app/dbaas/logs/detail/roles/add/logs-role-add.html
  client/app/dbaas/logs/detail/roles/members/add/add-members.html
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/tokens/add/logs-token-add.html
  client/app/dbaas/ts/project/details/key/addOrEdit/dbaasts-project-details-key-add-or-edit.html
  client/app/dbaas/ts/sidebar/sidebar-edit/dbaasts-sidebar-edit.html
  client/app/deskaas/deskaas-change-password/deskaas-change-password.html
  client/app/iplb/home/updateQuota/iplb-update-quota.html
  client/app/vps/modal/shortcut/kvm/vps-kvm.html
  client/components/autofocus/autofocus.js
  client/components/autoselect/autoselect.js
  client/components/clickEnterOnKeypress/clickEnterOnKeypress.js
  client/components/smoothScrollHere/smooth-scroll-here.directive.js
Labels: one-manager, quality check ok

#1335 Feat/kube version
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Labels: enhancement, quality check ok, translation required

#1339 feat(kube): add order in sidebar
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/components/featureAvailability/featureAvailability.service.js
  client/components/sidebar/products/kubernetes-sidebar.service.js
  client/components/sidebar/sidebar-order.service.js
  client/components/sidebar/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Labels: enhancement, quality check ok

#1317 feat(kube): version update
  client/app/common/translations/Messages_fr_FR.json
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/update/kubernetes-service-update.controller.js
  client/app/kubernetes/service/update/kubernetes-service-update.html
  client/app/kubernetes/service/update/kubernetes-service-update.modal.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
Labels: feature, quality check ok, translation required

#1330 refactor(ordered-hash): move ordered-hash to cuc
  client/components/cloud/project/compute/infrastructure/internet/internet.factory.js
  client/components/cloud/project/compute/infrastructure/vrack/vrack.factory.js
  client/components/orderedHash/orderedHash.factory.js
  package.json
  yarn.lock
Labels: one-manager, quality check ok

#1331 refactor(vrack): move vrack service to cuc
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/iplb/home/iplb-home.controller.js
  client/app/iplb/vrack/iplb-vrack.controller.js
  client/app/vrack/add/vrack-add.controller.js
  client/app/vrack/modals/selectVrack.controller.js
  client/app/vrack/modals/selectVrack.html
  client/app/vrack/vrack.controller.js
  client/app/vrack/vrack.service.js
  package.json
  yarn.lock
Labels: one-manager, quality check ok

#1340 fix(deps): upgrade ng-ovh-form-flat to v4.0.0
  client/app/app.js
  client/app/app.less
  client/app/cloud/less/cloud.popover.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.less
  client/app/index.js
  package.json
  yarn.lock
Labels: enhancement, one-manager, quality check ok

#1341 fix(deps): upgrade ng-ovh-checkbox-table to v1.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Labels: enhancement, one-manager, quality check ok

#1345 flavors display issue
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Labels: bug, quality check ok

#1353 refactor: move highlighted-element to cuc
  client/app/app.js
  client/app/app.less
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.controller.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.controller.js
  client/app/cloud/project/compute/infrastructure/less/cloud-project-compute-infrastructure-vm.less
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.controller.js
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.controller.js
  client/app/dbaas/ts/project/details/dbaasts-project-details.html
  client/components/highlightedElement/highlightedElement.js
  client/components/highlightedElement/highlightedElement.less
Labels: one-manager, quality check ok

#1352 refactor(currency): move currency filter & service to cuc
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/dbaas/logs/detail/options/home/logs-options-home.controller.js
  client/app/dbaas/logs/detail/options/manage/logs-options-manage.controller.js
  client/components/currency/currency.config.js
  client/components/currency/currency.constant.js
  client/components/currency/currency.service.js
  client/components/currency/ucentsToCurrency.filter.js
Labels: one-manager, quality check ok

#1303 LDP improvements
  client/app/dbaas/logs/detail/home/account/logs-home-account.controller.js
  client/app/dbaas/logs/detail/home/account/logs-home-account.html
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.controller.js
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.html
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.modal.controller.js
  client/app/dbaas/logs/detail/home/logs-home.controller.js
  client/app/dbaas/logs/detail/home/logs-home.html
  client/app/dbaas/logs/detail/home/logs-home.js
  client/app/dbaas/logs/detail/home/logs-home.service.js
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/streams/alerts/streams-alerts.service.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Labels: enhancement, quality check ok

#1346 fix(kube-nodes): flavor update post node creation
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
Labels: bug, quality check ok

#1355 Fix/iplb translation
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.service.js
  client/app/iplb/configuration/iplb-configuration.service.js
  client/app/iplb/frontends/iplb-frontends.service.js
  client/app/iplb/server/iplb-server.service.js
  client/app/iplb/serverFarm/iplb-server-farm.service.js
  client/app/iplb/sslCertificate/iplb-ssl-certificate.service.js
  client/app/iplb/vrack/iplb-vrack.service.js
Labels: bug, quality check ok
